.ant-btn-primary{
    background-color: #d3ba62;
    border-color: #d3ba62;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #d3ba62;
    border-color: #d3ba62;
}
.ant-btn-link{
    background-color: none;
    border-color: #d3ba62;
    color: #d3ba62;
}
.ant-btn-link:hover, .ant-btn-link:focus {
    color: #d3ba62;
    background-color: transparent;
    border-color: #d3ba62;
}
.theme-color{
    color: #d3ba62;
}
.ant-pagination-item-active a {
    color: #d3ba62;
}
.ant-pagination-item-active a {
    color: #d3ba62;
}
.ant-pagination-item-active a:hover {
    color: #d3ba62;
}
.ant-pagination-item-active a:active {
    color: #d3ba62;
}
.ant-pagination-item:focus{
    color: #d3ba62;
}
.ant-pagination-item:hover{
    color: #d3ba62;
    border-color:#d3ba62;
}
.ant-pagination-item-active:focus a{
    color: #d3ba62;
}
.ant-pagination-item-active:hover a{
    color: #d3ba62;
}
.ant-pagination-item-active:focus{
    color: #d3ba62;
}
.ant-pagination-item-active:hover{
    color: #d3ba62;
}
.ant-pagination-item-active{
    border-color: #d3ba62;
}
.ant-spin-dot-item{
    background-color:#d3ba62;
}
.ant-pagination-item a:hover{
    color: #d3ba62;
}
.ant-pagination-item:focus{
    border-color: #d3ba62;
}
.ant-tabs-nav .ant-tabs-tab-active{
    color: #d3ba62;
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #d3ba62;
}
/* .ant-input:focus{
    border-color: #d3ba62;
    box-shadow: 0 0 0 2px rgb(211, 186, 98,0.2)
}
.ant-input:hover{
    border-color: #d3ba62;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled){
    border-color: #d3ba62;
} */