.Video{
    min-height: 320px;
    display: flex;
    justify-content:space-around ;
    padding: 10px;
}
video{
    max-height: 320px;
}
.Video-div{
    /* width: 80%;*/
    flex: 2;
}
.Video-client{
    flex: 1;
}
.Video-div > div{
    display: inline-block;
    margin-right: 20px;
}
